<%
function datetimeLocal(datetime) {
  const dt = new Date(datetime);
  const offset = -330; // timezone offset for IST in minutes, it fixes time issues when deploying on render
  dt.setMinutes(dt.getMinutes() - offset);
  return dt.toISOString().slice(0, 16);
}
const match_date = datetimeLocal(matchData.match_date);

const teamToCode = {
  "100": "CSE",
  "101": "IT",
  "102": "ECE",
  "103": "AEIE",
  "104": "EE",
  "105": "MECH",
  "106": "CIVIL",
  "107": "CHEMICAL",
  "108": "BT/FT+AGL",
  "109": "CSE CS",
  "110": "CSE DS",
  "111": "CSE AIML",
  "112": "MASTERS",
}
%>




<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>THE HIT TIMES</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script src="https://cdn.tiny.cloud/1/w6q7m6bspz8sqsc3xf8ogte5se9rmnjz0x84aruqxnvb5jek/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
      tinymce.init({
        selector: "#mytextarea",
        plugins: 'link',
        default_link_target: '_blank'
      });
    </script>
  </head>

  <style>
    .roundbth {
      border-radius: 25px;
    }
    body {
      background: linear-gradient(
        rgba(50, 176, 226, 0.5),
        rgba(228, 102, 180, 0.5)
      );
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .navbercolor {
    }
  </style>

  <body>
    <nav
      class="navbar navbar-expand-sm navbar-light mb-3"
      style="color: rgb(16, 97, 247)"
    >
      <div class="container">
        <button
          class="navbar-toggler mr-auto"
          data-toggle="collapse"
          data-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">THE HIT TIMES</a>
        <% if(user) { %>
        <a
          class="nav-link ml-auto btn btn-danger text-white roundbth px-3"
          href="/auth/logout"
          >Logout</a
        >
        <% } else{ %>
        <a
          class="nav-link ml-auto btn btn-primary text-white roundbth px-3"
          href="/pages/login"
          >Login</a
        >
        <%}%>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/"><b>Home</b></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/pages/createpost"
                ><b>Create Post</b></a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/pages/sendnotification">
                <b>Send Notification</b>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/pages/display"><b>Display</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/live/create"><b>Go Live</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/live/all"><b>Manage Live</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/teams/manage"><b>Manage Teams</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/posts"><b>JSON</b></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mb-1">

    <%
        if (notificationResponse == "success") {
        %>
        <div class="alert alert-success alert-dismissible fade show" id="successAlert" role="alert">
          <span id="successAlertText">Successfully notified updated live match</span>
          <button type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%
        } else if (notificationResponse == "failed") {
        %>
        <div class="alert alert-danger alert-dismissible fade show" id="errorAlert" role="alert">
          <span id="errorAlertText">Error while notifying updated live match</span>
          <button type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%
        }
      %>


      <div
              class="card p-1"
              style="
          background: linear-gradient(
            rgba(13, 178, 243, 0.5),
            rgba(228, 102, 180, 0.5)
          );
          border-radius: 0px;
        "
      >
        <div class="card-body shadow-lg">
          <h3 class="text-white">UPDATE LIVE POST</h3>

          <form action="javascript:updateData()" method="post">

            <div class="form-check">
              <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="sendNotification"
                      checked
              />
              <label class="form-check-label text-white" for="flexCheckDefault">
                Notify users
              </label>
            </div>

            <div class="row mt-4">
              <div class="col">

                <div class="form-group">
                  <label class="text-white" for="team1_code"><h4>Team 1</h4></label>
                  <select
                          class="form-control mt-1"
                          id="team1_code"
                          name="team1_code"
                          aria-label="Default select example"
                  >
                    <%
                    const team1Entries = Object.entries(teamToCode);
                    for ( var i = 0; i < team1Entries.length; i++ ) {
                      const [key, value] = team1Entries[i];
                      var selected = ( matchData.team1.team_code === key) ? "selected" : "";
                    %>
                      <option value="<%=key %>" <%= selected %>><%= value %></option><%
                    }
                    %>
                  </select>
                  <input
                          class="form-control mt-1"
                          required
                          placeholder="Score"
                          id="team1_score"
                          type="text"
                          value="<%= matchData.team1.team_score %>"
                          name="team1_score"
                  />

                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="team2_code" class="text-white"><h4>Team 2</h4></label>


                  <select
                          class="form-control mt-1"
                          id="team2_code"
                          name="team2_code"
                          aria-label="Default select example"
                  >
                    <%
                    const team2Entries = Object.entries(teamToCode);
                    for ( var i = 0; i < team2Entries.length; i++ ) {
                      const [key, value] = team2Entries[i];
                      var selected = ( matchData.team2.team_code === key) ? "selected" : "";
                    %>
                    <option value="<%=key %>" <%= selected %>><%= value %></option><%
                    }
                    %>
                  </select>
                  <input
                          class="form-control mt-1"
                          required
                          placeholder="Score"
                          id="team2_score"
                          type="text"
                          value="<%= matchData.team2.team_score %>"
                          name="team1_score"
                  />
                </div>
              </div>
            </div>

            <div id="pen" style="display: <%= matchData.match_type === "cricket" ? "none": "block" %>;">
              <%
                const isPenalty =
                        (matchData.team1.team_penalty != null && matchData.team1.team_penalty != null)  &&
                        (matchData.team1.team_penalty.trim() != "0" || matchData.team2.team_penalty.trim() != "0") &&
                        (matchData.team1.team_score == matchData.team2.team_score);

                const penaltyChecked = isPenalty ? "checked" : "";
                const displayPenalty = isPenalty ? "flex" : "none";
              %>
              <input type="checkbox" <%= penaltyChecked %> id="enable-penalty" onchange="handlePenaltyInputFields()">
              <label class="text-white" for="mdatetime"><h4>Penality</h4></label>
            </div>
            <div class="row" style="display: <%= displayPenalty%>" id="penalty-editor">
              <div class="col">
                <div class="form-group">
                  <label class="text-white" for="team1_penalty"><h5>Team 1</h5></label>
                  <input
                          class="form-control"
                          required
                          placeholder="Penalty"
                          id="team1_penalty"
                          type="text"
                          value="<%= matchData.team1.team_penalty %>"
                          name="team1_penalty"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="text-white" for="team2_penalty"><h5>Team 2</h5></label>
                  <input
                          class="form-control"
                          required
                          placeholder="Penalty"
                          id="team2_penalty"
                          type="text"
                          value="<%= matchData.team2.team_penalty %>"
                          name="team1_penalty"
                  />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="text-white" for="mdatetime"><h4>Match Date and Time</h4></label>
              <input class="form-control" type="datetime-local" id="mdatetime" name="mdatetime"
                value="<%= match_date %>"
              >
            </div>

            <div class="form-group">
              <label class="text-white" for="match_live"><h4>Is Match Live?</h4></label>
              <select
                      class="form-control "
                      id="match_live"
                      name="match_live"
              >
                <option value="true" <%= matchData.is_live ? "selected" : "" %>>LIVE</option>
                <option value="false" <%= !matchData.is_live ? "selected" : "" %>>NOT LIVE</option>
              </select>
            </div>

            <div class="form-group">
              <label class="text-white" for="match_type"><h4>Match Type</h4></label>
              <select
                      class="form-control "
                      id="match_type"
                      name="match_type"
                      onchange="handleChange()"
              >
                <option value="football" <%= matchData.match_type === "football" ? "selected": "" %>>football</option>
                <option value="cricket" <%= matchData.match_type === "cricket" ? "selected": "" %>>cricket</option>
              </select>
            </div>

            <div class="form-group">
              <label class="text-white" for="matchStatus"><h4>Match Status</h4></label>
              <textarea
                      class="form-control "
                      id="matchStatus"
                      placeholder="Match Started"
                      maxlength="35"
              ><%= matchData.match_status %></textarea>
            </div>

            <button type="submit" class="btn text-white btn-primary roundbth">
              Update
            </button>
          </form>
        </div>
      </div>
    </div>


    <div class="container mb-1">
      <div
              class="card p-1"
              style="
          background: linear-gradient(
            rgba(13, 178, 243, 0.5),
            rgba(228, 102, 180, 0.5)
          );
          border-radius: 0px;
        "
      >
        <div class="card-body shadow-lg">
          <form action="javascript:createTimeline(null)" >
            <h3 class="text-white">Match Timeline</h3>
            <div class="form-group mt-2">
              <input class="form-control mb-2" type="datetime-local" id="timeline_date" name="timeline_date"
              >
              <textarea
                      id="mytextarea"
                      name="mytextarea"
                      rows="10"
                      cols="5"
                      placeholder="Body"
              ></textarea>
              <button
                      type="submit"
                      class="btn text-white btn-primary roundbth mt-2"
              >
                Create a Timeline
              </button>
            </div>
          </form>
          <h3 class="text-white">Match Timeline History</h3>
          <div id="insertTimeline">
            <%
            for (var i = 0; i < matchData.timeline.length; i++) {
              const timeline = matchData.timeline[i];
            %>
            <div class="card mt-2">
              <div class="card-body">
                  <div class="col-10">
                    <p style="font-weight: bold">
                      <%
                        const timeline_weekday = new Date(timeline.timeline_date).toLocaleString("en-US", {
                          weekday: "long",
                          timeZone: 'Asia/Kolkata',
                        });
                        const timeline_date = new Date(timeline.timeline_date).toLocaleString("en-US", {
                          month: "long",
                          day: "numeric",
                          year: "numeric",
                          timeZone: 'Asia/Kolkata',
                        });
                        const timeline_time = new Date(timeline.timeline_date).toLocaleString("en-US", {
                          hour: "numeric",
                          minute: "numeric",
                          hour12: true,
                          timeZone: 'Asia/Kolkata',
                        });
                      %>
                      <%= timeline_weekday %> · <%= timeline_date %> · <%= timeline_time%>
                    </p>
                    <%- timeline.msgHtml %>
                  </div>
                  <div class="col-2">
                    <button
                            type="button"
                            class="btn btn-danger roundbth"
                            onclick="deleteTimeline('<%= timeline.firebase_timeline_id %>')"
                    >
                      Delete
                    </button>
                </div>
              </div>
            </div>
            <%
            }
            %>
          </div>
        </div>
      </div>
    </div>

    <!-- Loading Modal -->
    <div class="modal fade" id="processingModal" tabindex="-1" role="dialog" aria-labelledby="processingModalTitleLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="processingModalTitleLabel">Updating Timeline</h5>
          </div>
          <div  class="modal-body">
            <div id="replaceBody">
              <center>
                <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="64px" height="64px" viewBox="0 0 128 128" xml:space="preserve"><rect x="0" y="0" width="100%" height="100%" fill="#FFFFFF"/><g><circle cx="16" cy="64" r="16" fill="#000000"/><circle cx="16" cy="64" r="16" fill="#555555" transform="rotate(45,64,64)"/><circle cx="16" cy="64" r="16" fill="#949494" transform="rotate(90,64,64)"/><circle cx="16" cy="64" r="16" fill="#cccccc" transform="rotate(135,64,64)"/><animateTransform attributeName="transform" type="rotate" values="0 64 64;315 64 64;270 64 64;225 64 64;180 64 64;135 64 64;90 64 64;45 64 64" calcMode="discrete" dur="720ms" repeatCount="indefinite"/></g></svg>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>


  </body>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/imageUpload.js"></script>
  <script>

    const handlePenaltyInputFields = ()=>{
        const penaltyEditor = document.getElementById("penalty-editor");
        const enablePenalty = document.getElementById("enable-penalty").checked;
        if (enablePenalty) {
            penaltyEditor.style.display = "flex";
        } else {
            penaltyEditor.style.display = "none";
        }
    }

    const handleChange =()=>{
        const mtype= document.getElementById("match_type").value;
        const pen=document.getElementById("pen");
        console.log(mtype);
        if(mtype=="cricket"){
          pen.style.display="none";
        }
        else{
          pen.style.display="block";
        }
    }

    const updateData = async (timelineMessage) => {

      const team1Code = document.getElementById("team1_code").value;
      const team1Score = document.getElementById("team1_score").value.trim();
      const team1Penalty = document.getElementById("team1_penalty").value.trim();
      const team2Code = document.getElementById("team2_code").value;
      const team2Score = document.getElementById("team2_score").value.trim();
      const team2Penalty = document.getElementById("team2_penalty").value.trim();
      const match_date = document.getElementById("mdatetime").value;
      const is_live = document.getElementById("match_live").value == "true";
      const match_status = document.getElementById("matchStatus").value.trim();
      const match_type = document.getElementById("match_type").value;
      const sendNotification = document.getElementById("sendNotification").checked;

      const data = {
        team1: {
          team_score: team1Score,
          team_code: team1Code,
          team_penalty: team1Penalty,
        },
        team2: {
          team_score: team2Score,
          team_code: team2Code,
          team_penalty: team2Penalty,
        },
        match_date: new Date(match_date),
        is_live,
        match_type,
        match_status
      }
      const res = await fetch("/api/live/match/<%= matchData.firebase_match_id %>", {
        method: "PUT",
        redirect: "follow",
        body: JSON.stringify(data),
        headers: {
          "Content-type": "application/json; charset=UTF-8",
        },
      });

      if (res.ok) {
        const result = await res.json();

        if (result.msg === 'success') {

          if (!sendNotification) {
            window.location.reload();
            return;
          }

          const notifyRes = await fetch("/api/live/notification/send", {
            method: "POST",
            redirect: "follow",
            body: JSON.stringify({
              ...data,
              id: "<%= matchData.firebase_match_id %>",
              timeline_message: timelineMessage,
            }),
            headers: {
              "Content-type": "application/json; charset=UTF-8",
            },
          });

          if (notifyRes.ok) {
            window.location.reload();
          }
        }

      }
    };

    const createTimeline = ()=> {

        const msgHtml = tinymce.get('mytextarea').getContent();
        const msgBody = tinymce.get('mytextarea').getContent({format: 'text'});
        const timeline_date = document.getElementById("timeline_date").value;

        if (msgBody.trim().length === 0) {
          alert("Timeline message cannot be empty");
          $("#mytextarea").val("");
          return;
        }


        $("#processingModal").modal({backdrop: 'static', keyboard: false}, "show");
        const data = {
          msgHtml,
          timeline_date: new Date(timeline_date),
        }
        fetch("/api/live/match/<%= matchData.firebase_match_id %>/timeline", {
            method: "POST",
            redirect: "follow",
            body: JSON.stringify(data),
            headers: {
            "Content-type": "application/json; charset=UTF-8",
            },
        }).then(res => res.json())
            .then(async result => {
                if (result.msg === 'success') {
                    await updateData(msgBody);
                    window.location.reload();
                }
            })
    }

    async function deleteTimeline(msgId) {
      fetch(`/api/live/match/<%= matchData.firebase_match_id %>/timeline/${msgId}/del`, { method: 'DELETE'}).then(res => res.json())
          .then(result => {
            if (result.msg === 'success') {
              window.location.reload();
            }
          });
    }


    var userFixedTimelineDateTime = false;
    $("#timeline_date").on("click", () => {
      userFixedTimelineDateTime = true;
    });

    // update #timeline_date date and time every second to current date and time but when user selects a date and time, it will not update
    setInterval(() => {
      const timeline_date = document.getElementById("timeline_date");
      if (!userFixedTimelineDateTime) {
        const dt = new Date();
        const offset = -330; // timezone offset for IST in minutes, it fixes time issues when deploying on render
        dt.setMinutes(dt.getMinutes() - offset);
        timeline_date.value = dt.toISOString().slice(0, 16);
      }
    }, 1000);

  </script>

  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</html>
